<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>Jeopardy!</title>
    </head>
    <body>
        <h1 class="title">Jeoparty!</h1>
        <div class="board">
            {% for category in categories %}
                <div class="category block">
                    <span class="category text">{{ category }}</span>
                </div>
            
                {% for question in data[category] | sort(attribute='Points') %}
                    {% if question['key'] in keys %}
                        <a class="block hoverable" href="/question/{{ question['key'] }}"> 
                            <span class="text">${{ question['Points'] }}</span>   
                        </a>
                    {% else %}
                        <div class="block disabled"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %} 
        </div>

        <form class="upload-file" action="/upload" method="POST", enctype=multipart/form-data>
            <input type="file"
                id="data" name="data"
                          accept="text/csv"><br><br>
            <input type="submit">
        </form>
    </body>
</html>
