<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>Jeopardy!</title>
    </head>
    <body>
        <a id="answer" class="box hidden" href="/" key="{{ entry['key'] }}"> 
            <div class="text header">{{ entry['Category'] }} - <span class="orange">${{ entry['Points'] }}</span></div>
            <div class="container">
                <div class="prompt">{{ entry['Answer'] }}</div>
            </div>
        </a>
        <div id="question" class="box hoverable">
            <div id="bar" class="bar"></div>
            <div class="text header">{{ entry['Category'] }} - <span class="orange">${{ entry['Points'] }}</span></div>
            <div class="container">
                <div class="prompt">{{ entry['Question'] }}</div>
            </div>
        </div>
        <script>
            let question = document.getElementById("question");
            let answer = document.getElementById("answer");
            let bar = document.getElementById("bar");
            let i = 100.0;

            function revealAnswer() {
                question.style.display = "none";
                answer.style.display = "block";
            }

            question.addEventListener("click", revealAnswer);

            answer.addEventListener("click", () => {
                console.log("clicking");
                let key = answer.getAttribute("key");
                console.log(key)
                const xhttp = new XMLHttpRequest();
                xhttp.open("GET", `/complete/${key}`)
                xhttp.send();
            })

            function updateBar() {
                if (i > 0) {
                    i -= 0.1;
                    bar.style.width = `${i}%`;
                }
                else {
                    revealAnswer();
                }
            }

            setInterval(updateBar, 50);
        </script>
    </body>
</html>
